

.text {
      font-size: 20px;
      letter-spacing: 2px;
      font-family: monospace;
     
      
    
}



/* .boatabout {
      transform: translateX(0);
      animation: boatMove1 4s forwards infinite;
    }
    
    @keyframes boatMove1 {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(0);
      }
    } */
    

