.bgcontainer {

      /* height: 200px; Adjust the height as needed */
      background-color: transparent;
      /* Set the background color of the water */
      /* overflow: hidden; */
}

.boat {

      /* bottom: -100px; 
      left: 50%; */
      transform: translateX(0);
      /* width: 100px; 
      height: 100px; 
      
      background-size: cover; */
      animation: boatMove 4s linear infinite;
}

@keyframes boatMove {
      0% {
            transform: translateY(0);
      }

      50% {
            transform: translateY(-20px) ;
            /* Adjust the vertical movement */
      }

      100% {
            transform: translateY(0);
      }
}